body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  position: absolute;
  overflow-y: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 1em 0;
}

*, *::before, *::after {
	margin: 0;
	padding: 0;
}

:root {
	--violet: #92278F;
	--pink: #EC008C;
  --light-pink: #f2a9d3;

  --header-h: 60px;
  --container-w: 992px;
}